<style type="text/css">
    .sys 
    {
        height: 33%;
        background-color: red;
    }

    .link
    {
        font-size:30pt;
    }
    
</style>

<div class="container" style="width:200px; height:200px">

    <div class="link row sys">
        <a class="col table-bordered" style="border-color:black" href="/Home/Index/1">
            <div>
                @ViewBag.Symbol1
            </div>
        </a>
        <a class="col table-bordered" style="border-color:black" href="/Home/Index/2">
            <div>
                @ViewBag.Symbol2
            </div>
        </a>
        <a class="col table-bordered" style="border-color:black" href="/Home/Index/3">
            <div>
                @ViewBag.Symbol3
            </div>
        </a>
    </div>

    <div class="link row sys">
        <a class="col table-bordered" style="border-color:black" href="/Home/Index/4">
            <div>
                @ViewBag.Symbol4
            </div>
        </a>
        <a class="col table-bordered" style="border-color:black" href="/Home/Index/5">
            <div>
                @ViewBag.Symbol5
            </div>
        </a>
        <a class="col table-bordered" style="border-color:black" href="/Home/Index/6">
            <div>
                @ViewBag.Symbol6
            </div>
        </a>
    </div>

    <div class="link row sys">
        <a class="col table-bordered" style="border-color:black" href="/Home/Index/7">
            <div>
                @ViewBag.Symbol7
            </div>
        </a>
        <a class="col table-bordered" style="border-color:black" href="/Home/Index/8">
            <div>
                @ViewBag.Symbol8
            </div>
        </a>
        <a class="col table-bordered" style="border-color:black" href="/Home/Index/9">
            <div>
                @ViewBag.Symbol9
            </div>
        </a>
    </div>    
</div>
<div>@ViewBag.Result</div>